<!--Let and this example-->
<!--Q1-->
<b><h3>Difference between ‘this’ and ‘let’ and when to use</h3></b>
<h4>'let' is used to declare variables whose scope is only inside a block it is declared</h4>
<h4>'This' is used to point to an object that is calling a particular method.
  So its scope depends on the context in which it is used</h4>
  <hr>
<!--Q2-->
<b><h3>Write a function which accepts an array of strings and returns a map of character to
   count the character(including spaces and special characters)</h3></b>
<div>   
  <form action="/action_page.php">
    Enter the array of string: <input type="text" name="lname"><br>
    <br>
    <input type="submit" value="submit">
    <!--<input type="button" id="button1" value="Add" onclick="add_element_array();"></input>-->
    </form>
  </div>
  <div>
    <br>
    Character count: <input type="text" name="lname"><br>
</div>
<hr>
<!--Q3-->
<b><h3>Write a function to return all the keys present in an object at any level.</h3></b>
<div>   
    <form action="/action_page.php">
      Enter Input: <input type="text" name="lname"><br>
      <br>
      <input type="submit" value="submit">
      <!--<input type="button" id="button1" value="Add" onclick="add_element_array();"></input>-->
      </form>
</div>
<div>
  <br>
    Keys present: <input type="text" name="lname"><br>
</div>
<hr>
<!--Q4-->
<b><h3>Write a function to reverse every word of a string, using split and reverse.</h3></b>
<div>   
    <form action="/action_page.php">
      Enter word to reverse: <input type="text" name="lname"><br>
      <br>
      <input type="submit" value="submit">
      <!--<input type="button" id="button1" value="Add" onclick="add_element_array();"></input>-->
      </form>
</div>
<div>
  <br>
    Reverse word: <input type="text" name="lname"><br>
</div>
<hr>
<!--Q4-->
<b><h3>Write a function to reverse every word of a string, without using split and reverse.</h3></b>
<div>   
    <form action="/action_page.php">
      Enter word to reverse: <input type="text" name="lname"><br>
      <br>
      <input type="submit" value="submit">
      <!--<input type="button" id="button1" value="Add" onclick="add_element_array();"></input>-->
      </form>
</div>
<div>
  <br>
    Reverse word: <input type="text" name="lname"><br>
</div>
<hr>
<!--Q5-->
<b><h3>Write a function to remove duplicate strings from an array of strings</h3></b>
  <div>   
    <form action="/action_page.php">
      Enter array string: <input type="text" name="lname"><br>
      <br>
      <input type="submit" value="submit">
      <!--<input type="button" id="button1" value="Add" onclick="add_element_array();"></input>-->
      </form>
  </div>
  <div>
    <br>
    Duplicate removed words: <input type="text" name="lname"><br>
  </div>
  <hr>